<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Discount</title>

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments/fragments :: import-css}"></th:block>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <th:block
        th:replace="~{fragments/fragments :: navbar('none')}"
      ></th:block>
    </header>

    <!-- MAIN -->
    <main>
      <div class="container">
        <h1>Pizza's Discount Create</h1>

        <!-- Create Form -->
        <form
        class="row p-4 border light-shadow rounded-5 mb-4 position-relative"
        th:action=@{/discount/create}
        method="POST"
        th:object="${sconto}"
        >
          <!-- Riferimento alla pizza -->
          <input type="hidden" th:field="*{pizza}" id="linked-pizza" />

          <!-- Nome -->
          <div class="col col-12 mb-3">
            <label for="input1" class="form-label">Inserisci il nome</label>
            <input
              id="input1"
              class="form-control"
              type="text"
              name="nome"
              th:field="*{nome}"
              th:errorClass="is-invalid"
            />
            <div class="invalid-feedback">
              <ul>
                <li
                  th:each="error : ${#fields.errors('nome')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>
          <!-- Data inizio -->
          <div class="col col-6 mb-3">
            <label for="input2" class="form-label"
              >Inserisci la data di inizio</label
            >
            <input
              id="input2"
              class="form-control"
              type="date"
              name="dataInizio"
              rows="2"
              th:field="*{dataInizio}"
              th:errorClass="is-invalid"
            ></input>
            <div class="invalid-feedback">
              <ul>
                <li
                  th:each="error : ${#fields.errors('dataInizio')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>
          <!-- Data fine -->
          <div class="col col-6 mb-3">
            <label for="input3" class="form-label"
              >Inserisci la data di fine</label
            >
            <input
              id="input3"
              class="form-control"
              type="date"
              name="dataFine"
              th:field="*{dataFine}"
              th:errorClass="is-invalid"
            />
            <div class="invalid-feedback">
              <ul>
                <li
                  th:each="error : ${#fields.errors('dataFine')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- SUBMIT -->
          <div class="col col-12 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
